<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System.Configuration.ConfigurationManager">
			<section name="SimpleDroneGCS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System.Configuration.ConfigurationManager" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<userSettings>
		<SimpleDroneGCS.Properties.Settings>
			<setting name="Language" serializeAs="String">
				<value>ru</value>
			</setting>
			<setting name="ViewLinkPath" serializeAs="String">
				<value />
			</setting>
		</SimpleDroneGCS.Properties.Settings>
	</userSettings>
</configuration>